<!doctype html>
<head>
  <meta charset="utf-8"/>
  <title>My Whatodo App</title>
  <link rel="stylesheet" href="/static/my_app.css"/>
</head>
<body>
  <h1>Hello, and Welcome to My Page</h1>
  <h2>This page will suggest you something to do.</h2>
  <h2>Maybe you could...</h2>
  {% if data %}
    <p>{{ data.text }}</p>
    <p>It takes <b>{{ data.time }}</b> min</p>
    <form action="/" method="POST">
      <label for="time-select">Choose the max time for the activity:</label>

      <select name="time-select">
        <option name="time_key" value="">--Please choose the time--</option>
        <option name="time_key" value="15">15 min</option>
        <option name="time_key" value="30">30 min</option>
        <option name="time_key" value="60">1 hr</option>
      </select>
      <p>
        <button type="submit" class="button">New suggestion!</button>
      </p>
      
    </form>
    <form action="/todos" method="GET">
      <button class="button">See all the data!</button>
    </form>
    
  {% else %}
    <h1>Boo, no data!</h1>
  {% endif %}
</body>
